@model IEnumerable<BecaDotNet.UI.MVC.RazorView.Models.ViewModel.ClientViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<p>
    @Html.ActionLink("Criar Cliente", "New")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeContatoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CnpjCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeContatoCliente)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
