@model IEnumerable<BecaDotNet.UI.MVC.RazorView.Models.ViewModel.ClientViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo", "New")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeContatoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CnpjCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeContatoCliente)
                </td>
                <td>
                    <a href="#" class="btn btn-danger deleteClient" rel="@item.Id">Excluir</a>
                    <a href="#" class="btn btn-success editClient" rel="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {


        $('.deleteClient').on('click', function (e) {
            e.preventDefault();
            var id = this.getAttribute('rel');
            var r = confirm("Confirmar exclusão de Cliente?");
            if (r === true) {
                alert('VOCÊ PRECISA IMPLEMENTAR ISSO')
            }
        });
        $('.editClient').on('click', function (e) {

            e.preventDefault();
            var id = this.getAttribute('rel');
            window.location = '/Client/Edit/' + id;
        });
    });
</script>

