@model IEnumerable<BecaDotNet.UI.MVC.RazorView.Models.ViewModel.UserListViewModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>Data de Cadastro</th>
            <th>Usuário Ativo</th>
            <th>Tipo de Usuário</th>
            <th>Superior</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.NomeUsuario</td>
            <td>@item.LoginUsuario</td>
            <td>@item.DataCadastro.ToString("dd/MM/yyyy hh:mi:ss")</td>
            <td>@(item.UsuarioAtivo?"Sim":"Não")</td>
            <td>@item.DescTipoUsuario</td>
            <td>@item.NomeSuperior</td>
            <td>
                <a href="#" id="deleteUser" rel="@item.Id">Excluir</a>
                <a href="#" id="editUser" rel="@item.Id">Editar</a>
            </td>
        </tr>
        }
    </tbody>
</table>


